nav {
    width: 100%;
    display: flex;
    padding-block: 15px;
    padding-inline: 30px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.321);
    backdrop-filter: blur(8px);
}
nav .logo {
    font-size: 25px;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.menu-group {
    display: flex;
    /* background-color: #098; */
    width: 100%;
    
}
.logo a {
    letter-spacing: 3px;
    font-weight: bold;
}
.menu a {
    margin-inline: 3px;
    font-size: 14px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    transition: .3s;
}
.menu a:hover {
    background-color: rgb(255 255 255 / .2)
}
.menu-left {
    margin-left: auto;
}
.menu-left a {
    font-size: 18px;
}
.menu-right {
    margin-left: auto;
}
.menu-right a {
    font-size: 15px;
}
footer  {
    padding-block:30px;
    text-align: center;
}
footer a {
    color: #333;
    font-size: 12px;
    text-decoration: none;
    margin-inline: 5px
}