nav {
    width: 100%;
    display: flex;
    padding-block: 15px;
    padding-inline: 30px;
    position: fixed;
    top: 0;
    left: 0;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.menu-group {
    display: flex;
    width: 100%;
}

.logo a {
    letter-spacing: 3px;
    font-weight: bold;
}

.menu a {
    margin-inline: 10px;
}

.menu-left {
    margin-left: auto;
}

.menu-right {
    margin-left: auto;
}
section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;        
}
#model-s {
    background-image: url(/images/model-s.jpg);
}
#model-3 {
    background-image: url('/images/model-3.jpg');    
}
#model-x {
    background-image: url('/images/model-x.jpg');        
}
#model-y {
    background-image: url('/images/model-y.jpg');        
}
#powerwall {
    background-image: url('/images/power.jpg');        
}
#accesories {
    background-image: url('/images/accessories.jpg');        
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}
.title h2 {
    font-size: 3rem;
}
.title a {
    font-size: 14px;
    color: #333;
}

.reserve {
    font-size: 14px;
}

.title {
    /* position: relative;
    bottom: 30px; */
    margin-bottom: 100px;
}

.content {
    margin-top: 150px;
}
footer {
    padding-block: 30px;
    text-align: center;
}
footer a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin-inline: 15px;
}