.container {
    width: 500px;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    background-color: #ccc;
}

.box1 {
    float: left;
}

.box2 {
    float: right;
}

.box3 {
    /* 沒有 float 屬性 */
}
.clearfix {
    clear: both;
}
  
