section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;        
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  overflow: hidden; /* 添加此行代码 */
}

#home1 {
    background-image: url(../images/mid_home1.png);
    opacity: 0.7;
    position: relative;
}

#home1 {
  background-image: url(../images/mid_home1.png);
  opacity: 0.7;
  position: relative;
}



#home2 {
    background-image: url(../images/mid_home2.png);
    opacity: 0.9;
}